$gradient-text: linear-gradient(to right, #c735bb, #f9ee22);
$gradient-bg: linear-gradient(to right, #082450, #09021d);
$color-bg: #00020e;
$primary: #c735bb;
$secondary: #f9d222;

//@use '/variables.scss' as v;