@use '/variables.scss' as v;

.future-container{
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:1080px) {
        padding: 1rem;
        flex-direction: column;
    }
    .future-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        @media (max-width:1080px) {
            gap: 3rem;
            align-items: center;
        }
        h4{
            font-size: 2.5rem;
            font-weight: 900;
            @media (max-width:1080px) {
               font-size: 1.5rem;
           
            }
        }
        img{
            
            height: 25rem;
            animation: ani 3s linear infinite alternate;
            @media (max-width:1080px) {
               height: 15rem;
             
            }
            @keyframes ani {
                100%{
                    filter: drop-shadow(0 0 10px v.$primary);
                }
            }
            
        }
    }
    .future-list{
        margin-top: 3rem;
     
        h5{
            font-size: 1.7rem;
            color: white;
            line-height: 2.5rem;
            letter-spacing: 1px;
            @media (max-width:1080px) {
                font-size: 1.3rem;
                text-align: center;
            }
        }
        ul{
            background:v.$gradient-bg;
            padding: 2rem;
            margin: 2rem 5rem 2rem 0;
            width: 40rem;
            @media (max-width:1080px) {
                margin: 1rem;
                width: 20rem;
              margin: 2rem auto;
            }
            li{
                color: white;
                padding: .5rem 0;
                font-size: 1.5rem;
                @media (max-width:1080px) {
                   font-size: 1.2rem;
                }
            }
        }
    }
}